body {
  font-size: 3em;
  text-align: center;
  background-color: #323641;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  background: linear-gradient(0deg, #367E18, #1CD6CE) no-repeat bottom / 0 2px;
  transition: background-size .5s;
  text-decoration: none;
  color: #111;
  line-height: 1;
}

a:where(:hover, :focus-visible) {
  background-size: 100% 2px;
  background-position-x: left;
}
